.codeeditor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44%;
  margin: 0 0 0 15px;
  padding: 10px;
  background-color: burlywood;
}
